body,
html {
  height: 100%;
  flex-direction: column;
  width: 500px;
  margin: auto;
  justify-content: center;
  font-family: 'Liberation Mono', Menlo, Courier, monospace;
}
h1,
h2,
h3,
h4 {
  padding-top: 20px;
}
#content {
  text-align: left;
  font-size: 1rem;
}
img {
  display: block;
  margin: auto;
  width: 100%;
}
button {
  color: black;
  border-radius: 6px;
  background-color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
  cursor: pointer;
  margin-top: 15px;
  padding: 12px 10px 10px;
}

textarea {
  width: 400px;
  font-size: 1rem;
  height: 50px;
}
textarea#log {
  height: 100px;
}

blockquote {
  font-style: italic;
}
